/**
 *
 * Dashboard Theme Name: Dash Default Style
 * Author: Michael Hawkes, 10th Street Media LLC
 * Author URI: https://10thstreet.media
 * Description: This is a dashboard theme test.
 * Version: 0.1
 * License:
 * License URI:
 * Text Domain:
 */

/* based largely on w3-theme-grey */
.w3-theme-l5 {color:#000 !important; background-color:#f9f9f9 !important}
.w3-theme-l4 {color:#000 !important; background-color:#ececec !important}
.w3-theme-l3 {color:#000 !important; background-color:#d8d8d8 !important}
.w3-theme-l2 {color:#000 !important; background-color:#c5c5c5 !important}
.w3-theme-l1 {color:#000 !important; background-color:#b1b1b1 !important}
.w3-theme-d1 {color:#fff !important; background-color:#8e8e8e !important}
.w3-theme-d2 {color:#fff !important; background-color:#7e7e7e !important}
.w3-theme-d3 {color:#fff !important; background-color:#6f6f6f !important}
.w3-theme-d4 {color:#fff !important; background-color:#5f5f5f !important}
.w3-theme-d5 {color:#fff !important; background-color:#4f4f4f !important}

.w3-theme-light {color:#000 !important; background-color:#f9f9f9 !important}
.w3-theme-dark {color:#fff !important; background-color:#4f4f4f !important}
.w3-theme-action {color:#fff !important; background-color:#4f4f4f !important}

.w3-theme {color:#fff !important; background-color:#9e9e9e !important}
.w3-text-theme {color:#9e9e9e !important}
.w3-border-theme {border-color:#9e9e9e !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#9e9e9e !important}
.w3-hover-text-theme:hover {color:#9e9e9e !important}
.w3-hover-border-theme:hover {border-color:#9e9e9e !important}


html {
	box-sizing: border-box;
    overflow-x: hidden;
    -ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

*,*:before,*:after {
	box-sizing:inherit;
}

body {
    width: 100%;
    margin: 0;
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
/*    padding: 0 4px;*/
}

header {
    background-color: #8e8e8e;
    color: #fff;
}


/* ************************** selectors ********************************************** */

.dash-container {
    padding: 0.01em  16px;
}

.dash-bar {
    width: 100%;
	overflow: hidden;
    /*display: inline-block;*/
    padding: 8px  16px;
	float: left;
	border: none;
	/*display: block;*/
	outline: 0;
    position: static;
    white-space: normal;
}

.dash-container:before, .dash-container:after, .dash-bar:before, .dash-bar:after {
    content: "";
	display: table;
	clear: both;
}

.dash-center {
    display: block;
	margin-left: 49%;
    margin-right: 49%;
    text-align: center !important;
}

.dash-left {
    float: left !important;
    text-align: left !important;
}

.dash-right {
    float: right !important;
    text-align: right !important;
}

.dash-padding {
    padding: 8px  16px !important;
}

.dash-large {
    font-size: 18px !important;
}

.dash-xlarge {
    font-size: 24px !important
}

.dash-top {
    top: 0;
    position: fixed;
	width: 100%;
	z-index: 1;
}

.dash-top a {
    color: #fff;
    text-decoration: underline;
}
